form {
    max-width: 400px;
    margin: 80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.5);

    h3 {
        margin-top: 0;
        color: #555;
        padding-bottom: 4px;
        border-bottom: 1px solid #ccc;
    }
}

.form-control {
    margin-bottom: 15px;
    input,
    label {
        display: block;
    }

    label {
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 4px;
    }

    
}

